Gifs
Ipython Logs
node_modules
Semester 4/Assembly/DosboxPortable/
Semester 4/Assembly/nasmx-1.4/
Semester 5/Game Dev/Prefab Resources/
SublimeUserSettings/MenuPenguinLists.sublime-settings
SublimeUserSettings/Projects/Default.sublime-workspace
SublimeUserSettings/LSP-pyright.sublime-settings.backup
*.exe
*.mp4
*.ipynb_checkpoints/
*.prefab
json-format-temp.py
history.sqlite
# !Game Dev/*/*/*.cs
# Game Dev/*/*.*
# !Game Dev/*/*.cs
# Game Dev/*/*/*
