Gifs
IpythonLogs
node_modules
SublimeUserSettings/MenuPenguinLists.sublime-settings
SublimeUserSettings/Projects/*.sublime-workspace
SublimeUserSettings/LSP-pyright.sublime-settings.backup
SublimeUserSettings/OverrideAudit.Status
*.exe
*.mp4
*.ipynb_checkpoints/
*.prefab
*.directory
json-format-temp.py
